STOBWeb/Connected Services/Three60AuthorizationService/authorization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Wsfg.Three60.Auth.Services/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Wsfg.Three60.Auth.Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Wsfg.Three60.Auth.Services/Imports">
      <xsd:import schemaLocation="https://apptest360adam.app.wsfgrp.net/360Auth/services/authorization.svc?xsd=xsd0" namespace="http://Wsfg.Three60.Auth.Services/" />
      <xsd:import schemaLocation="https://apptest360adam.app.wsfgrp.net/360Auth/services/authorization.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://apptest360adam.app.wsfgrp.net/360Auth/services/authorization.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wsfg.Three60.Auth.Model" />
      <xsd:import schemaLocation="https://apptest360adam.app.wsfgrp.net/360Auth/services/authorization.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthorizationRequest">
    <wsdl:part name="parameters" element="tns:AuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="AuthorizationResponse">
    <wsdl:part name="parameters" element="tns:AuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="AuthorizationServiceSoap_GetAllGroups_InputMessage" />
  <wsdl:message name="GroupResponse">
    <wsdl:part name="parameters" element="tns:GroupResponse" />
  </wsdl:message>
  <wsdl:message name="GroupRequest">
    <wsdl:part name="parameters" element="tns:GroupRequest" />
  </wsdl:message>
  <wsdl:message name="GroupUserRequest">
    <wsdl:part name="parameters" element="tns:GroupUserRequest" />
  </wsdl:message>
  <wsdl:message name="UserResponse">
    <wsdl:part name="parameters" element="tns:UserResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthorizationServiceSoap">
    <wsdl:operation name="IsInGroup">
      <wsdl:input wsaw:Action="http://Wsfg.Three60.Auth.Services/IsInGroup" name="AuthorizationRequest" message="tns:AuthorizationRequest" />
      <wsdl:output wsaw:Action="http://Wsfg.Three60.Auth.Services/AuthorizationServiceSoap/IsInGroupResponse" name="AuthorizationResponse" message="tns:AuthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGroups">
      <wsdl:input wsaw:Action="http://Wsfg.Three60.Auth.Services/GetAllGroups" message="tns:AuthorizationServiceSoap_GetAllGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://Wsfg.Three60.Auth.Services/AuthorizationServiceSoap/GetAllGroupsResponse" name="GroupResponse" message="tns:GroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupsForUser">
      <wsdl:input wsaw:Action="http://Wsfg.Three60.Auth.Services/GetGroupsForUser" name="GroupRequest" message="tns:GroupRequest" />
      <wsdl:output wsaw:Action="http://Wsfg.Three60.Auth.Services/AuthorizationServiceSoap/GetGroupsForUserResponse" name="GroupResponse" message="tns:GroupResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInGroup">
      <wsdl:input wsaw:Action="http://Wsfg.Three60.Auth.Services/GetUsersInGroup" name="GroupUserRequest" message="tns:GroupUserRequest" />
      <wsdl:output wsaw:Action="http://Wsfg.Three60.Auth.Services/AuthorizationServiceSoap/GetUsersInGroupResponse" name="UserResponse" message="tns:UserResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>